# unwanted data output files
controlResults.csv
trivialTasksResults.csv

# videos
*.mov
*.mp4

# ignore env
env/

# ignore build and dist
build/
dist/

#ignore pycache
__pycache__/
scripts/__pycache__/