/*buttons*/
#emergencyButton, #taskButton, #spacer, #readyButton, #surveyButton, #submitButton {
    height: 100px;
    font-size: 30px;
    font-weight: bold;
}

#spacer {
    background-color: transparent;
}

#emergencyButton {
    background-color: red;
}

#taskButton {
    background-color: greenyellow;
}


/*text*/

#validationPrompt {
    color: red;
    font-style: italic;
}