#changeWindowButton {
    max-width: 200px;
    height: 200px;
}

QLabel, QLineEdit {
    max-width: 500px;
}

#bold {
    font-weight: bold;
    text-decoration: underline;
}

#edit-btn, #sbt-btn {
    height: 100px;
}